@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --clr--dark: #100c0b;
    --clr--red: #ed1d0a;
    --clr--pink: #f9a5a3;
    --clr--white: #ffffff;
}

/* MAIN SECTION */

/* Starts Background Images Mains */

.main{
    background-image: url(./Assets/Home/Img_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.main #howWeWork{
    background-image: url(./Assets/howWeWork/S11.\ All\ we\ have\ is\ us._1.12.1___.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main #contact{
    background-image: url(/Assets/contact/Still\ P08___.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main #aboutUs{
    background-image: url(/Assets/howWeWork/S11.\ All\ we\ have\ is\ us._1.12.1___.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main #whoWeAre{
    background-image: url(/Assets/howWeWork/S11.\ All\ we\ have\ is\ us._1.12.1___.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main #ourStory{
    background-image: url(/Assets/howWeWork/S11.\ All\ we\ have\ is\ us._1.12.1___.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* Ends Background Images Mains */

/* Starts Rest of Main Section */

.main header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    height: 15%;
}

.main .logo, footer .logo{
    height: 100%;
}

.main .logo img, footer .logo img{
    width: 100%;
    height: 100%;
    margin-left: 83px;
}

.main .linksHeader{
    display: flex;
    gap: 50px;
    width: 75%;
    justify-content: flex-end;
}

.main .linksHeader a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.main .navbar ul, .main .languages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 1rem;
}

.main .languages{
    gap: 10px !important;
    color: white;
    font-weight: bold;
}

.main .languages {
    display: flex;
    justify-content: space-between;
}

.main .menus{
    display: flex;
    justify-content: space-between;
    gap: 30px !important;

}



.mainSection{
width: 100%;
height: 85%;
display: flex;
padding: 5%;
justify-content: space-between;
position: relative;
}

.mainSection .title{
width: 75%;
height: 80%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.mainSection .title h1{

text-align: center;
font-size: 3rem;
margin-top: 80px;
margin-bottom: 20px;
margin-left: 83px;
color: white;
}

.logo{
    width: 150px;
    height: 150;
}

.mainSection .title a{
    text-align: left;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    margin-left: 17%;
    font-weight: bold;
    text-decoration: none;
}

/* Rects */

.main .mainSection #redRect{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--clr--red);
    width: 27.5%;
    height: 15%;
}

.main .mainSection #whiteRect{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--clr--white);
    width: 27.5%;
    height: 15%;
}

.main .mainSection #pinkRect{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--clr--pink);
    width: 27.5%;
    height: 15%;
}

.main .mainSection #darkRect{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--clr--dark);
    width: 27.5%;
    height: 15%;
}

/* Intro Section */

.introSection{
    background-color: var(--clr--red);
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5%;
    color: var(--clr--white);
}

.introSection .introSectionBox{
    width: 100%;
    display: flex;
    flex-direction: flex;
    justify-content: space-evenly;
    align-items: center;
}


.introSection .introSectionBox .introSectionTextBox{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5%;
    gap: 15px;
}


.introSection .introSectionBox .introSectionImage{
    width: 40%;
    transform: translateY(100px);
}

.introSection .introSectionTextBox h2{
    font-size: 2.5rem;
}

.introSection .introSectionTextBox h3{
    font-size: 1.3rem;
}

.introSection .introSectionTextBox a{
    text-align: left;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}


/* Projects Section */

.introSectionProjects{
   background-color: var(--clr--dark);
   color: var(--clr--white);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 7%;
}

.introSectionProjects .introSectionProjectsTextBox{
    width: 50%;
    padding: 3%;
 }

 .introSectionProjects .introSectionProjectsImage{
    width: 50%;
    padding: 3%;
 }

 .introSectionProjects .introSectionProjectsImage #introSectionProjectsImage{ 
    width: 100%;
    height: 90%;
 }



/* What We Do Section */

.whatWeDoSection{
    background-color: var(--clr--pink);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5%;
    color: var(--clr--dark);
}

.whatWeDoSectionBox{
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    gap: 30px;
}

.whatWeDoSectionTexts{
    color: var(--clr--dark);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 20px;
}



.whatWeDoSection #darkRect{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--clr--dark);
    width: 27.5%;
    height: 15%;
}


/* Current Projects Section */

.currentProjectsSection{
    background-color: var(--clr--dark);
    width: 100vw;
    height: 1600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5%;
    color: var(--clr--white);
}

.currentProjectsSectionTitle{
    width: 100%;
}

.currentProjectsSection .movies{
    display: flex;
    flex-direction: column;
    color: var(--clr--white);
    width: 100%;
    padding: 5%;
    gap: 25px;
}

.currentProjectsSection .movies .moviesBoxes{
    display: flex;
    flex-direction: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.moviesBoxes .moviesBoxesImages{
    width: 80%;
}

.moviesBoxes .projectTexts{
    width: 20%;
    transform: translateX(150px);
}

#secondProjectText{
    transform: translateX(-200px);
}

.moviesBoxes .projectTexts a{
    text-decoration: underline;
}

#secondProject{
    flex-direction: row-reverse;
}

.currentProjectsSection #pinkRect{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--clr--pink);
    width: 27.5%;
    height: 7%;
}

.currentProjectsSection img{
    width: 85%;
    height: auto;
}

/* Follow Us Section */

.followUsSection{
    background-color: var(--clr--pink);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 5%;
    color: var(--clr--dark);
}

#followUsSectionText{
    transform: translateX(60px);
    margin-top: 10px;
}

.followUsSection a{
    border: 1px solid var(--clr--dark);
    color: var(--clr--dark);
    text-decoration: none;
    padding: 10px 20px;
    width: 15%;
    height: 45px;
    text-align: center;
    font-weight: bold;

}



/* Work With Us Section */

.workWithUsSection{
    background-image: url(/Assets/whoWeAre/teamhorizon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: flex;
    align-items: center;
}

.workWithUsSection .workWithUsSectionTexts{
    margin-left: 20%;
    font-size: 1.5rem;
    color: var(--clr--white);
    font-weight: bolder;
    text-align: center;
}

.workWithUsSection .workWithUsSectionTexts a{
    text-decoration: underline;
}

/* Footer */


.footerSection{
    background-color: var(--clr--red);
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    padding: 5%;

}

